:root {
    --white: #FFFFFF;
    --card-container: #EEF2FF;
    --black-button-hover: #4F46E5;
    --black: #000000;
}

footer {
    background-color: var(--black);
    width: 100%;
}

.footer-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.8rem 3.95rem;
    font-family: Arial, Helvetica, sans-serif;
}

.up-footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    margin: 2.5rem 0 1.25rem 0;
}

.footer-first-section {
    color: var(--white);
    width: 16rem;
    margin: 0 0 0 1.25rem;
}

.footer-second-section {
    color: var(--white);
    width: 16rem;
    margin: 0 0 0 1.1rem;
}

.footer-third-section {
    margin: 0 0 0 8.62rem;
    width: 20rem;
    color: var(--white);
}

.footer-fourth-section {
    margin: 0 0 0 6.93rem;
    width: 10rem;
    color: var(--white);
}

.footer-first-section-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.footer-first-section-text {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin: 0.8rem 0 0 0;
}

.footer-second-section-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 0 0 0 1.5rem;
}

.footer-third-section-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 0 0 0 3.15rem;
}

.footer-fourth-section-title {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.8rem;
}

.footer-list {
    margin: 0.67rem 0;
}

.button-footer {
    color: var(--white);
    font-size: 0.87rem;
    line-height: 1.31rem;
    font-weight: 400;
    transition: color 0.2s linear;
}

.button-footer:hover {
    color:var(--black-button-hover);
}

.down-footer {
    display: flex;
    border-top: 1px dashed var(--card-container);
    background-color:var(--black);
    color: var(--white);
    justify-content: center;
    padding: 2.31rem 0;
}

.footer-second-section-ul {
    list-style: none; 
    margin: 0 0 0 -1.2rem;
}

.footer-third-section-ul {
    list-style: none;
}

.footer-fourth-section-ul {
    list-style: none;
    display: flex; 
    margin: 0 0 0 -3rem;
}