.footer-container {
    background-color: #000000;
    height: 35vh;
    padding: 1vh 5vw 2vh 5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.up-footer {
    display: flex;
    height: 22vh;
    background-color: #000000;
    margin: 0 0 1.5vh 0;
}

.footer-first-section {
    color: #FFFFFF;
    margin: 4.5vh 0 0 2.3vw;
}

.footer-second-section {
    color: #FFFFFF;
    margin: 4.5vh 0 0 1vw;
}

.footer-third-section {
    margin: 4.5vh 0 0 11vw;
    color: #FFFFFF;
}

.footer-fourth-section {
    margin: 4.5vh 0 0 14vw;
    color: #FFFFFF;
}

.footer-first-section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.footer-first-section-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 1vh 0 0 0;
}

.footer-second-section-title {
    font-size: 19.2px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0 0 0 3.4vh;
}

.footer-third-section-title {
    font-size: 19.2px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0 0 0 5.6vh;
}

.footer-fourth-section-title {
    font-size: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 28.8px;
}

.footer-list {
    margin: 1.2vh 0;
}

.button-footer {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    transition: color 0.2s linear;
}

.button-footer:hover {
    color:#4F46E5
}

.down-footer {
    display: flex;
    border-top: 1px dashed #EEF2FF;
    height: 7vh;
    background-color:#000000;
    color: #FFFFFF;
    justify-content: center;
    padding: 5vh 0 0 0;
}