body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #E4E4E7;
}

h1 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 3vh 0 3vh 5vw;
    color: #1E1B4B;
}


.header-container-nav {
    display: flex;
    margin: 2vh 2vw 2vh 0;
}

.header-nav {
    display: flex;
}

.header-list-element {
    list-style: none;
    margin: 0 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #1E1B4B;
}

.basket {
    margin: 0 3vw 0 1vw;
    width: 33px;
}

.first-section-container {
    display: flex;
    background-color: #E4E4E7;
    height: 67vh;
}

.title {
    padding: 11vh 0 1.3vh 5vw;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1E1B4B;
}

.first-section-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1E1B4B;
    padding: 0 0 0 5vw;
}

.search-container {
    display: flex;
    margin: 0 0 0 5vw;
    height: 4.5vh;
    width: 23.5vw;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.magnifer {
    height: 20px;
    width: 20px;
    margin: 1vh 0.7vw;
}

.search-container-text {
    color: rgba(0, 7, 27, 0.5);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0.8vh 6vw 0.4vh 0;
}

.ellipsis {
    height: 16px;
    width: 16px;
    margin: 1.3vh 0 1.3vh 4.5vw;
}

.fan-of-picture-container {
    margin: 5vh 0 0 25.5vw;
}

.fan-of-picture {
    position: absolute;
    border-radius: 10px; /*Почему-то углы сглаживаются только у 1-ой картинки. Возможно из-за того, что остальные под углом.*/
}

#Slide-4 {
    margin: 0 0 0 4.8vw;
    width: 15.5vw;
    height: auto;
}

#Slide-3 {
    margin: 0 0 0 3.2vw;
    width: 15.5vw;
    height: auto;
}

#Slide-2 {
    margin: 0 0 0 1.6vw;
    width: 15.5vw;
    height: auto;
}

#Slide-1 {
    margin: 0 0 0 0vw;
    width: 15.5vw;
    height: auto;
}