html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    border: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

main {
    flex: 1;
    margin: 5.8rem 0 0 0;
}

.general-div {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.loader {
    position: fixed;
    background: #FFFFFF;
    z-index: 9999;
    width: 100%;
    height: 100%;
}